{% extends 'template.html.twig' %}

{% block meta %}
  <meta property="og:url" content="https://{{ domain }}/about"/>

  <link rel="canonical" href="https://{{ domain }}/about" id="canonical" />
{% endblock %}

{% block stylesheet %}
  <style>
    body {
      height: initial;
    }
    .darkBack {
      filter: drop-shadow(0 0.1rem 0.1rem white);
    }
    .darkSmallBack {
      filter: drop-shadow(0 0 0.001rem white);
    }
    .lightSmallBack {
      filter: drop-shadow(0 0 0.1rem black);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column">
    <h1 id="aboutMe" style="margin-top: calc(-76px + 1.5rem);padding-top: 76px;z-index:-1">{{ data.menu.about }}</h1>
    {{ data.about.content|raw }}

    <h1 id="skills" style="margin-top: calc(-76px + 1.5rem);padding-top: 76px;z-index:-1">{{ data.menu.skills }}</h1>
    {% for skillRow in data.skillsRow %}
        <div class="row">
          {% for skillGroup in skillRow %}
              <div class="{{ skillGroup.class }}">
                <h4 class="col-12 text-center">{{ skillGroup.title|raw }}</h4>
                <div class="d-flex justify-content-center flex-wrap">
                  {% for skill in skillGroup.skills %}
                    <a href="{{ skill.url }}" class="p-2" rel="nofollow">
                      <img class="mb-2 {{ skill.class }}" src="{{ skill.iconUrl }}" alt="{{ skill.alt }}" title="{{ skill.title }}" style="{{ skill.style }}">
                    </a>
                  {% endfor %}
                </div>
              </div>
          {% endfor %}
        </div>
    {% endfor %}
  </div>
{% endblock %}
