{% extends 'template.html.twig' %}

{% block stylesheet %}
  <style>
    body {
      height: initial;
    }
    .darkBack {
      filter: drop-shadow(0 0.1rem 0.1rem white);
    }
    .darksmallBack {
      filter: drop-shadow(0 0 0.001rem white);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column">
    <h1 id="aboutMe" style="margin-top: calc(-76px + 1.5rem);padding-top: 76px;">{{ data.menu.about }}</h1>
    {{ data.about.content|raw }}

    <h1 id="skills" style="margin-top: calc(-76px + 1.5rem);padding-top: 76px;">{{ data.menu.skills }}</h1>
    <div class="row">
      <div class="col-md-5 mr-md-auto my-4">
        <h4 class="col-12 text-center">{{ data.skills.webTechSrv|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://nodejs.org/" class="p-2">
            <img class="mb-2" src="/img/icons/nodejs.svg" alt="Nodejs" title="Nodejs" height="48">
          </a>
          <a href="https://expressjs.com/" class="p-2">
            <img class="mb-2 my-4 darksmallBack" src="/img/icons/express-js.png" alt="Express" title="Express" width="64">
          </a>
          <a href="https://www.php.net/" class="p-2">
            <img class="mb-2" src="/img/icons/php.png" alt="PHP" title="PHP" height="48">
          </a>
          <a href="https://symfony.com/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/symfony.png" alt="Symfony4 / Symfony3" title="Symfony4 / Symfony3" height="48">
          </a>
          <a href="https://www.slimframework.com/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/slim.png" alt="Slim Framework" title="Slim Framework" height="48">
          </a>
          <a href="https://twig.symfony.com/" class="p-2">
            <img class="mb-2" src="/img/icons/twig.png" alt="Twig" title="Twig" height="48">
          </a>
          <a href="https://spring.io/" class="p-2">
            <img class="mb-2" src="/img/icons/spring.png" alt="Spring Framework" title="Spring Framework" height="48">
          </a>
        </div>
      </div>
      <div class="col-md-5 ml-md-auto my-4">
        <h4 class="col-12 text-center">{{ data.skills.webTechCli|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://developer.mozilla.org/docs/Web/Guide/HTML/HTML5" class="p-2">
            <img class="mb-2" src="/img/icons/html5.png" alt="HTML5" title="HTML5" height="48">
          </a>
          <a href="https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/" class="p-2">
            <img class="mb-2" src="/img/icons/css3.png" alt="CSS3" title="CSS3" height="48">
          </a>
          <a href="https://sass-lang.com/" class="p-2">
            <img class="mb-2" src="/img/icons/sass.png" alt="Sass" title="Sass" height="48">
          </a>
          <a href="https://getbootstrap.com/" class="p-2">
            <img class="mb-2" src="/img/icons/bootstrap.png" alt="Bootstrap" title="Bootstrap" height="48">
          </a>
          <a href="https://bulma.io/" class="p-2">
            <img class="mb-2" src="/img/icons/bulma.svg" alt="Bulma" title="Bulma" height="48">
          </a>
          <a href="https://fontawesome.com/" class="p-2">
            <img class="mb-2" src="/img/icons/font-awesome.png" alt="Fontawesome" title="Fontawesome" height="48">
          </a>
          <a href="https://angular.io/" class="p-2">
            <img class="mb-2" src="/img/icons/angular.png" alt="Angular" title="Angular" height="48">
          </a>
          <a href="https://www.typescriptlang.org/" class="p-2">
            <img class="mb-2" src="/img/icons/TypeScript.png" alt="TypeScript" title="TypeScript" height="48">
          </a>
          <a href="" class="p-2">
            <img class="mb-2" src="/img/icons/JavaScript.svg" alt="JavaScript" title="JavaScript" height="48">
          </a>
          <a href="https://jquery.com/" class="p-2">
            <img class="mb-2" src="/img/icons/jquery.png" alt="jQuery" title="jQuery" height="48">
          </a>
          <a href="https://webassembly.org/" class="p-2">
            <img class="mb-2" src="/img/icons/WebAssembly.png" alt="WebAssembly" title="WebAssembly" height="48">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mr-md-auto my-4">
        <h4 class="col-12 text-center">{{ data.skills.dbTechAndTools|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://sql.sh/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/sql.png" alt="SQL" title="SQL" height="48">
          </a>
          <a href="https://www.mysql.com/" class="p-2">
            <img class="mb-2" src="/img/icons/mysql.png" alt="MySQL" title="MySQL" height="48">
          </a>
          <a href="https://www.postgresql.org/" class="p-2">
            <img class="mb-2" src="/img/icons/PostgreSQL.png" alt="PostgreSQL" title="PostgreSQL" height="48">
          </a>
          <a href="https://mongodb.com/" class="p-2">
            <img class="mb-2" src="/img/icons/mongodb.png" alt="Mongodb" title="Mongodb" height="48">
          </a>
          <a href="https://restfulapi.net/" class="p-2">
            <img class="mb-2 darksmallBack" src="/img/icons/restful.png" alt="API Rest" title="API Rest" width="48">
          </a>
        </div>
      </div>
      <div class="col-md-5 ml-md-auto my-4">
        <h4 class="col-12 text-center">{{ data.skills.appAnSoftDev|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://docs.oracle.com/java/" class="p-2">
            <img class="mb-2" src="/img/icons/java.png" alt="java" title="java" height="48">
          </a>
          <a href="https://docs.microsoft.com/dotnet/csharp/" class="p-2">
            <img class="mb-2" src="/img/icons/csharp.png" alt="C#" title="C#" height="48">
          </a>
          <a href="https://en.wikipedia.org/wiki/C_(programming_language)" class="p-2">
            <img class="mb-2" src="/img/icons/c.png" alt="C" title="C" height="48">
          </a>
          <a href="https://wikipedia.org/wiki/C%2B%2B" class="p-2">
            <img class="mb-2" src="/img/icons/c++.svg" alt="C++" title="C++" height="48">
          </a>
          <a href="https://www.lua.org/" class="p-2">
            <img class="mb-2" src="/img/icons/lua.png" alt="lua" title="lua" height="48">
          </a>
          <a href="https://www.python.org/" class="p-2">
            <img class="mb-2" src="/img/icons/python.png" alt="Python" title="Python" height="48">
          </a>
          <a href="https://developer.android.com/" class="p-2">
            <img class="mb-2" src="/img/icons/androidSDK.png" alt="Android SDK" title="Android SDK" height="48">
          </a>
          <a href="https://dotnet.microsoft.com/" class="p-2">
            <img class="mb-2" src="/img/icons/dotnet.png" alt="dotNet" title="dotNet" height="48">
          </a>
          <a href="https://docs.microsoft.com/dotnet/desktop/wpf" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/wpf.svg" alt="Wpf" title="Windows Presentation Foundation" height="48">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-4">
        <h4 class="col-12 text-center">{{ data.skills.devEnv|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://code.visualstudio.com/" class="p-2">
            <img class="mb-2" src="/img/icons/vscode.png" alt="VisualStudio Code" title="VisualStudio Code" height="48">
          </a>
          <a href="https://atom.io/" class="p-2">
            <img class="mb-2" src="/img/icons/atom.png" alt="Atom" title="Atom" height="48">
          </a>
          <a href="https://www.jetbrains.com/phpstorm/" class="p-2">
            <img class="mb-2" src="/img/icons/phpstorm.png" alt="Phpstorm" title="Phpstorm" height="48">
          </a>
          <a href="https://developer.android.com/studio" class="p-2">
            <img class="mb-2" src="/img/icons/androidStudio.png" alt="AndroidStudio" title="AndroidStudio" height="48">
          </a>
          <a href="https://visualstudio.microsoft.com/" class="p-2">
            <img class="mb-2" src="/img/icons/VisualStudio.png" alt="VisualStudio" title="VisualStudio" height="48">
          </a>
          <a href="https://www.jetbrains.com/idea/" class="p-2">
            <img class="mb-2" src="/img/icons/IntelliJ_IDEA.png" alt="IntelliJ IDEA" title="IntelliJ IDEA" height="48">
          </a>
          <a href="https://git-scm.com/" class="p-2">
            <img class="mb-2" src="/img/icons/Git.png" alt="Git" title="Git" height="48">
          </a>
          <a href="https://www.docker.com/" class="p-2">
            <img class="mb-2" src="/img/icons/Docker.png" alt="Docker" title="Docker" height="48">
          </a>
          <a href="https://docs.traefik.io/" class="p-2">
            <img class="mb-2" src="/img/icons/traefik.png" alt="Traefik" title="Traefik" height="48">
          </a>
          <a href="https://www.vmware.com/" class="p-2">
            <img class="mb-2" src="/img/icons/VMware.png" alt="VMware" title="VMware" height="48">
          </a>
          <a href="https://www.chromium.org/" class="p-2">
            <img class="mb-2" src="/img/icons/Chromium.png" alt="Chromium" title="Chromium" height="48">
          </a>
          <a href="https://workspace.google.com/" class="p-2">
            <img class="mb-2" src="/img/icons/googleWorkspace.png" alt="Google workspace" title="Google workspace" height="48">
          </a>
          <a href="https://www.latex-project.org/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/LaTeX.png" alt="LaTeX" title="LaTeX" height="48">
          </a>
          <a href="https://github.com/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/github.png" alt="Github" title="Github" height="48">
          </a>
          <a href="https://about.gitlab.com/" class="p-2">
            <img class="mb-2" src="/img/icons/Gitlab.png" alt="Gitlab" title="Gitlab" height="48">
          </a>
          <a href="https://www.npmjs.com/" class="p-2">
            <img class="mb-2" src="/img/icons/npm.png" alt="Npm" title="Npm" height="48">
          </a>
          <a href="https://gradle.org/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/gradle.png" alt="Gradle" title="Gradle" height="48">
          </a>
          <a href="https://maven.apache.org/" class="p-2">
            <img class="mb-2" src="/img/icons/maven.png" alt="Maven" title="Maven" height="48">
          </a>
          <a href="https://ant.apache.org/" class="p-2">
            <img class="mb-2" src="/img/icons/ant.png" alt="Ant" title="Ant" height="48">
          </a>
          <a href="https://getcomposer.org/" class="p-2">
            <img class="mb-2" src="/img/icons/Composer.png" alt="Composer" title="Composer" height="48">
          </a>
          <a href="https://www.postman.com/" class="p-2">
            <img class="mb-2" src="/img/icons/Postman.png" alt="Postman" title="Postman" height="48">
          </a>
          <a href="https://trello.com/" class="p-2">
            <img class="mb-2" src="/img/icons/Trello.png" alt="Trello" title="Trello" height="48">
          </a>
          <a href="https://jrsoftware.org/isinfo.php" class="p-2">
            <img class="mb-2" src="/img/icons/innoSetup.png" alt="innoSetup" title="innoSetup" height="48">
          </a>
          <a href="https://filezilla-project.org/" class="p-2">
            <img class="mb-2" src="/img/icons/FileZilla.svg" alt="FileZilla" title="FileZilla" height="48">
          </a>
          <a href="https://cmake.org/" class="p-2">
            <img class="mb-2" src="/img/icons/cmake.png" alt="Cmake" title="Cmake" height="48">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 my-4">
        <h4 class="col-12 text-center">{{ data.skills.os|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://www.linux.org/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/tux.png" alt="Linux" title="Linux (Debian, Ubuntu, BSD...)" height="48">
          </a>
          <a href="https://www.microsoft.com/en-us/windows" class="p-2">
            <img class="mb-2" src="/img/icons/Windows.png" alt="Windows" title="Windows" height="48">
          </a>
          <a href="https://www.android.com/" class="p-2">
            <img class="mb-2" src="/img/icons/android.png" alt="Android" title="Android" height="48">
          </a>
          <a href="https://www.apple.com/macos/" class="p-2">
            <img class="mb-2" src="/img/icons/macosx.png" alt="MacOSX" title="MacOSX" height="48">
          </a>
          <a href="https://fuchsia.dev/" class="p-2">
            <img class="mb-2" src="/img/icons/fuchsia.png" alt="Fuchsia" title="Fuchsia" height="48">
          </a>
        </div>
      </div>
      <div class="col-lg-4 mx-md-auto my-4">
        <h4 class="col-12 text-center">{{ data.skills.network|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="" class="p-2">
            <img class="mb-2" src="/img/icons/SSH.png" alt="SSH" title="SSH" height="48">
          </a>
          <a href="" class="p-2">
            <img class="mb-2" src="/img/icons/network.jpeg" alt="Network (ipv4, ipv6, DNS, firewall, routing...)" title="Network (ipv4, ipv6, DNS, firewall, routing...)" height="48">
          </a>
          <a href="https://www.netacad.com/courses/packet-tracer" class="p-2">
            <img class="mb-2" src="/img/icons/ciscoPacketTracer.png" alt="Cisco Packet Tracer" title="Cisco Packet Tracer" height="48">
          </a>
          <a href="https://www.apache.org/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/apache.png" alt="Apache" title="Apache" height="48">
          </a>
          <a href="https://ubuntu.com/" class="p-2">
            <img class="mb-2" src="/img/icons/ubuntu.png" alt="Debian / Ubuntu" title="Debian / Ubuntu" height="48">
          </a>
        </div>
      </div>
      <div class="col-lg-4 my-4">
        <h4 class="col-12 text-center">{{ data.skills.other|raw }}</h4>
        <div class="d-flex justify-content-center flex-wrap">
          <a href="https://wikipedia.org/wiki/Search_engine_optimization" class="p-2">
            <img class="mb-2" src="/img/icons/SEO.png" alt="SEO" title="SEO" height="48">
          </a>
          <a href="https://json.org/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/jsonfile.png" alt="JSON" title="JSON" height="48">
          </a>
          <a href="https://www.w3.org/XML/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/xmlfile.png" alt="XML" title="XML" height="48">
          </a>
          <a href="https://www.w3.org/XML/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/xmlfile.png" alt="XML" title="XML" height="48">
          </a>
          <a href="https://yaml.org/" class="p-2">
            <img class="mb-2 darkBack" src="/img/icons/yamlfile.png" alt="Yaml / Yml" title="Yaml / Yml" height="48">
          </a>
          <a href="https://www.gnu.org/software/bash/" class="p-2">
            <img class="mb-2 darksmallBack" src="/img/icons/bash.png" alt="bash" title="bash" height="48">
          </a>
          <a href="https://docs.microsoft.com/en-us/powershell/scripting/overview" class="p-2">
            <img class="mb-2" src="/img/icons/powershell.png" alt="powershell / batch" title="powershell / batch" height="48">
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
