{% extends 'template.html.twig' %}

{% block meta %}
  <link rel="canonical" href="https://{{ domain }}" />
{% endblock %}

{% block stylesheet %}
  <style>
    body {
      height: initial;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column my-5">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center my-5">
      <h1 class="display-4 my-5">{{ data.home.title }}</h1>
      <p class="lead my-5">
        {{ data.home.description|format((date("now").diff(date("1998-09-30"))).y) }}
      </p>
      <a class="btn btn-outline-secondary" href="/about#aboutMe" aria-label="{{ data.menu.about }}">{{ data.menu.about }}</a>
    </div>
  </div>
{% endblock %}