{% extends 'template.html.twig' %}

{% block meta %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
  <h1 class="mb-4">{{ projet.title }}</h1>

  {% if projet.imgs %}
    <h3>{{ data.project.imageTitle }}</h3>
  {% endif %}
  <div class="card-columns mb-2">
    {% for img in projet.imgs %}
        <figure class="figure">
          <img src="{{ img.src }}" class="figure-img img-fluid rounded" alt="...">
          <!-- <figcaption class="figure-caption text-right">A caption for the above image.</figcaption> -->
        </figure>
    {% endfor %}
  </div>

  <h3>{{ data.project.description }}</h3>
  <p>{{ projet.description }}</p>

  <h3>{{ data.project.docsTitle }}</h3>

  {% if projet.docU %}
    <p>{{ data.project.userDocTitle }}<a href="{{ projet.docU.url }}" target="_blank" rel="ugc">{{ projet.docU.name }}</a></p>
  {% endif %}

  {% if projet.docT %}
    <p>{{ data.project.techDocTitle }}<a href="{{ projet.docT.url }}" target="_blank" rel="ugc">{{ projet.docT.name }}</a></p>
  {% endif %}

  {% if projet.code %}
    <p>{{ data.project.sourceCodeTitle }}<a href="{{ projet.code.url }}" target="_blank" rel="ugc">{{ projet.code.name }}</a></p>
  {% endif %}

  {% if projet.git %}
    <p>{{ data.project.gitLinkTitle }}<a href="{{ projet.git.url }}" target="_blank" rel="ugc">{{ projet.git.name }}</a></p>
  {% endif %}

  {% if projet.build %}
    <p>{{ projet.build.lbl }} : <a href="{{ projet.build.url }}" target="_blank" rel="ugc">{{ projet.build.name }}</a></p>
  {% endif %}

  {% if projet.driveFolder %}
    <p>{{ data.project.driveFolderTitle }}<a href="{{ projet.driveFolder.url }}" target="_blank" rel="ugc">{{ projet.driveFolder.name }}</a></p>
  {% endif %}
{% endblock %}
