{% extends 'template.html.twig' %}

{% block meta %}
  <link rel="canonical" href="https://{{ domain }}/projects" />
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <style media="screen">
    body {
      height: initial;
    }
    .hpi {
      padding: 0;
    }
    .hpi:hover .ohpi {
      display: inherit;
      box-shadow: inset 0px 0px 60px 10px rgba(0,0,0,0.2);
    }
    .ohpi {
      display: none;
      z-index: 900;
    }
    .ohpi div {
      z-index: 900;
    }
    .fa-stack {
      height:32px;
      width:32px;
    }
    .fa-stack > .fa-badge-bg{
      position:absolute;
      right:-16%;
      bottom: 4%;
      font-size:75%;
    }
    .fa-stack > .fa-badge{
      position:absolute;
      right:-16%;
      bottom:10%;
      font-size:50%;
    }
    .fa-outline-inverse{
      text-shadow: -0.12ex 0 #FFF,-0.1ex -0.1ex #FFF, 0 -0.12ex #FFF, 0.1ex -0.1ex #FFF, 0.12ex 0 #FFF, 0.1ex 0.1ex #FFF, 0 0.12ex #FFF, -0.1ex 0.1ex #FFF;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="alert alert-warning" role="alert">
    {{ data.project.notUpdate }}
  </div>
  <h1>{{ data.menu.projects }}</h1>
  <div class="d-flex justify-content-center flex-rows flex-wrap">
    {% for project in data.projects %}
      <div class="card bg-theme m-3 text-center shadow" style="width: 18rem; height: 20rem;">
        <div class="card-header bg-transparent" style="height: 4rem">
          <p>{{ project.title }}<span> | </span>{{ project.type }}</p>
        </div>
        <a href="{{ project.goTo.previewUrl }}" class="text-reset" rel="nofollow">
          <div class="card-body position-relative hpi" style="height: 12rem">
            <img src="{{ project.imgs[0].src }}" class="card-img-top" style="max-height: 12rem; max-width: 100%; width:auto" alt="Project preview">
            <div class="position-absolute fixed-top h-100 w-100 ohpi">
              <div class="position-absolute fixed-bottom">
                <span style="font-size: 2em;text-shadow: 0px 0px 4px #FFF;color:initial" class="d-flex d-flex justify-content-center flex-wrap-reverse">
                  {% for iconTech in project.iconTechs %}
                    {{ iconTech|raw }}
                  {% endfor %}
                </span>
              </div>
            </div>
          </div>
        </a>
        <div class="card-footer bg-transparent d-flex justify-content-between">
          {% if project.goTo %}
            <a href="{{ project.goTo.url }}" class="btn btn-link" rel="ugc">{{ project.goTo.name }}</a>
          {% else %}
            <a rel="nofollow"></a>
          {% endif %}
          <a href="{{ project.git.url }}" rel="nofollow">
            <span style="font-size:2em;color:var(--body-300)">
              <i class="fab fa-github" alt="Github" title="{{ project.git.name }}"></i>
            </span>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
